.jumbotron {
    border-radius: 0;
}


.card-body {
    background-color: rgb(240, 240, 240);
    border-radius: 0px 0px 15px 15px;
    color: black;
}



.jumbotron {
    background-color: rgb(14, 13, 13);
}